# Environment variables
.env

# Logs
*.log
meme_generator.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db



# Generated images
*.jpg
*.jpeg
*.png
*.gif
coffee memes/
